<h3>
    Who
</h3>
<p>
    This is a side project realized by TrinTragula
    (<a href="https://github.com/TrinTragula" target="_blank">@TrinTragula</a>) in his spare time.
</p>
<h3>
    How
</h3>
<p>
    This website simply scans the provided website for any fonts it may have in its pages using some simple but fancy
    logic.
    Feel free to use it to download any cool font you may find online, but please be sure to only use it in your own
    projects if you legally own it. I take no responsibility for the use you may make of the font you download.
</p>
<h3>
    Why
</h3>
<p>
    I often found myself wondering which font a website was using and I was tired of always having to open up the
    developer console.
</p>
<h3>
    Do you collect data?
</h3>
<p>
    Nope, I just collect some anonymous usage statistcs to see if someone is actually using this website or not.
</p>
<h3>
    Why do I see "Font not loaded" instead of a preview of the font?
</h3>
<p>
    Some font types do not work well with the preview, or maybe it's just a false positive I found which is not actually
    a font.
</p>